@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	font-family: "Secular One", sans-serif;
}

html {
	font-size: 1em;
	overflow-x: hidden;
	box-sizing: border-box;
	max-height: 100vh;
}

body {
	text-align: center;
	height: 100vh;
	width: 100vw;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	margin-bottom: 2rem;
	background-color: antiquewhite;

	div {
		display: flex;
		gap: 1rem;
	}

	h1 {
		font-size: 3rem;
		margin: 0;
	}

	button {
		@include center;
		padding-top: 0.4rem;
		height: 3rem;
		width: 3rem;
		border: 3px solid grey;
		border-radius: 8px;
	}

	button:active {
		border-color: black;
		box-shadow: 0 0 5px black;
	}

	button:hover {
		cursor: pointer;
	}

	#helpButton {
		font-size: 2.5rem;
	}
}

.userArea {
	button {
		width: 5rem;
		padding: 0;
		font-size: 1.2rem;
	}

	span {
		@include center;
		font-size: 1.2rem;
	}
}

.input-zone {
	@include center;
	margin-bottom: 2rem;
	height: 60%;

	.input-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;
	}

	.row-container {
		@include center;
		gap: 0.4rem;
	}

	.input {
		@include center;
		width: 3rem;
		height: 3rem;
		border: 4px solid grey;
		border-radius: 8px;
		font-size: 3rem;
	}

	.focused {
		border-color: black;
		box-shadow: 0 0 5px black;
	}
	// .input:focus {
	// 	border-color: black;
	// 	box-shadow: 0 0 5px black;
	// }
}

.bull {
	background-color: rgb(0, 190, 0);
}

.cow {
	background-color: yellow;
}

.wrong {
	background-color: gray;
}

.keyboard-zone {
	@include center;
	flex-direction: column;
	gap: 5px;
	height: 40%;

	button:active {
		border-color: black;
		box-shadow: 0 0 5px black;
	}

	button:hover {
		cursor: pointer;
	}
}

.keyboard {
	@include center;
	gap: 0.4rem;

	button {
		@include center;
		height: 3rem;
		width: 3rem;
		border: 3px solid grey;
		border-radius: 8px;
		font-size: 2.5rem;
	}
}

#del,
#submit {
	width: fit-content;
}
